html, body {
  margin: 0;
  padding: 0;
  .lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
	}
}
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
